.mywork {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  padding: 0 20px;
  max-width: 1300px;
  margin: 80px auto;
}

/* ---------- TITLE ---------- */
.mywork-title {
  position: relative;
  text-align: center;
}

.mywork-title h1 {
  font-size: 80px;
  font-weight: 600;
}

.mywork-title img {
  position: absolute;
  bottom: -10px;
  right: -20px;
  width: 180px;
  z-index: -1;
}

/* ---------- GRID ---------- */
.mywork-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  width: 100%;
}

/* ---------- IMAGE CARD ---------- */
.mywork-container a {
  overflow: hidden;
  border-radius: 14px;
}

.mywork-container img {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  transition: 0.35s ease;
  cursor: pointer;
}

.mywork-container img:hover {
  transform: scale(1.08);
  border: 3px solid #ff00ff;
}

/* ---------- SHOW MORE ---------- */
.mywork-showmore {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 26px 55px;
  font-size: 22px;
  font-weight: 500;
  border-radius: 50px;
  border: 2px solid #fff;
  margin-bottom: 80px;
  cursor: pointer;
  transition: 0.4s ease;
}

.mywork-showmore:hover {
  gap: 28px;
}

/* ================= TABLET ================= */
@media (max-width: 1024px) {
  .mywork-title h1 {
    font-size: 60px;
  }

  .mywork-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* ===============*
